@model SudokuViewModel
@{
    ViewBag.Title = "Home Page";
}
<div id="modalError" style="display:none;" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Operação inválida!</h4>
            </div>
            <div class="modal-body">
                @if (!Model.Possivel)
                {
                    <img src="/imagens/erro.jpg" id="erro" />
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div id="hideAll" style="display:none;"></div>
<div id="loader" style="display:none;">

    <div id="d1"></div>
    <div id="d2"></div>
    <div id="d3"></div>
    <div id="d4"></div>
    <div id="d5"></div>
</div>
<br />
<div class="">

    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="@(Model.IsBackTrack ? "active" : "" )"><a href="#burro" aria-controls="burro" role="tab" data-toggle="tab">BackTrack</a></li>
        <li role="presentation" class="@(Model.IsBackTrack ? " ": "active")"><a href="#empirico" aria-controls="empirico" role="tab" data-toggle="tab">Empírico</a></li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane@(Model.IsBackTrack ? " active" : "" )" id="burro">
            @{Html.BeginForm("Backtrack", "Home", FormMethod.Post);}
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <tbody>
                            @for (int i = 0; i < Model.Sudoku.Linhas; i++)
                            {
                                <tr>
                                    @for (int j = 0; j < Model.Sudoku.Colunas; j++)
                                    {
                                        <td>
                                            @Html.TextBoxFor(x => Model.Sudoku.Tabela[i][j], new { @class = "form-control input-sudoku", Value = Model.Sudoku.Tabela != null && Model.Sudoku.Tabela[i][j].HasValue ? Model.Sudoku.Tabela[i][j].ToString() : "" })
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row text-center">
                <br />
                @Html.HiddenFor(x => x.IsBackTrack, new { Value = true })
                <button class="btn btn-primary btn-raise" style="margin-right:50px;">Completar</button>
                <button class="btn btn-secondary btn-raise limpar" type="button">Limpar</button>
            </div>
            @{Html.EndForm();}
        </div>
        <div role="tabpanel" class="tab-pane@(Model.IsBackTrack ? " " : " active")" id="empirico">
            @{Html.BeginForm("Empirico", "Home", FormMethod.Post);}
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <tbody>
                            @for (int i = 0; i < Model.SudokuEmpirico.Linhas; i++)
                            {
                                <tr>
                                    @for (int j = 0; j < Model.SudokuEmpirico.Colunas; j++)
                                    {
                                        <td>
                                            @Html.TextBoxFor(x => Model.SudokuEmpirico.Tabela[i][j], new { @class = "form-control input-sudoku", Value = Model.SudokuEmpirico.Tabela != null && Model.SudokuEmpirico.Tabela[i][j].HasValue ? Model.SudokuEmpirico.Tabela[i][j].ToString() : "" })
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row text-center">
                <br />
                @Html.HiddenFor(x => x.IsBackTrack, new { Value = false })
                <button class="btn btn-primary btn-raise" style="margin-right:50px;">Completar</button>
                <button class="btn btn-secondary btn-raise limpar" type="button">Limpar</button>
            </div>
            @{Html.EndForm();}
        </div>
    </div>

</div>

@section scripts{
    <script>
        function showLoader() {
            $('#hideAll, #loader').removeAttr('style');
        }

        function hideLoader() {
            $('#hideAll, #loader').attr('style', 'display:none;');
        }

        $('.input-sudoku').mask('9');
        $(document).ready(function () {

            $('li.active').click();

            $('.limpar').click(function () {
                var $this = $(this);
                $this.parents('form').find('input:not(:hidden)').val('');
                $this.parents('form').find('input:not(:hidden)').attr('value', '');
                $('.selected').removeClass('selected');
            });

            $('td input.input-sudoku').click(function () {
                var $input = $(this);

                $('.selected').removeClass('selected');
                if ($input.val() != '') {
                    $('input[value="' + $input.val() + '"]').parent().addClass('selected');
                }

            });

            $(document).on('input', 'input.input-sudoku', function () {
                var $input = $(this);
                if ($input.val() == '0') {
                    $input.val('');
                    $input.attr('value', $input.val());
                }
                else {
                    $input.attr('value', $input.val());

                    $('.selected').removeClass('selected');
                    if ($input.val() != '') {

                        $input.parents('form').find('input[value="' + $input.val() + '"]').parent().addClass('selected');
                    }

                    if ($input.val() != '' && $input.val() != '0') {

                        var name = $input.attr('name').split('][');

                        var coluna = name[1][0];
                        var linha = name[0][name[0].length - 1];

                        $.ajax({
                            url: '/Home/ValidarEntrada/',
                            method: 'POST',
                            beforeSend: function (xhr) {
                                xhr.overrideMimeType("text/plain; charset=utf-8");
                                showLoader();
                            },
                            data: $(this).parents('form').serialize() + '&linha=' + linha + '&coluna=' + coluna,
                            success: function (retorno) {
                                retorno = JSON.parse(retorno);
                                if (!retorno.Success) {
                                    $input.val('');
                                    $input.attr('value','');
                                    $('#modalError').find('.modal-body').html('<h3>' + retorno.Erro + '</h3>');
                                    $('#modalError').modal();
                                    $input.parent().removeClass('selected');
                                }
                            }
                        }).done(function () { hideLoader() });
                    }
                }
            })
        })

        $(document).on('mouseover', 'td', function () {

            $('.tdselected').removeClass('tdselected');

            var $td = $(this);

            var $tr = $td.parent();

            $tr.find('td').addClass('tdselected');

            var index = $tr.find('td').toArray().indexOf($td[0]);

            $tbody = $tr.parent();

            $tbody.find('tr').each(function () {
                var $tdInner = $($(this).find('td')[index]);
                $tdInner.addClass('tdselected');
            })

        });

        $('form').submit(function () {
            showLoader();
        })
        $(document).ready(function () {
            if ($('#erro').length > 0) {
                $('#modalError').modal();
            }
        })
    </script>
}